html {
  font-size: 62.5%;
}

.App {
  text-align: center;
  font-size: calc(6px + 2vmin);
}

.App-logo {
  height: 40vmin;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: rgb(44, 42, 42); */
  /* text-align: left; */
}

.App-link {
  color: #09d3ac;
}

.list-group-item {
  text-align: left;
}
